{%extends 'base.html' %}

{%block title%} Blogs post {%endblock%}

{%block content%}
<div class="container mt-5">
    <h1 class="mb-4">Post Table</h1>

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Post ID</th>
                <th>Title</th>
                <th>Content</th>
            </tr>
        </thead>
        <tbody>
            {% for post in category_posts %}
            <tr>
                <td>{{ post.post_id }}</td>
                <td><a href="singlepost/{{post.post_id}}">{{post.title}}</a></td>
                <td>{{ post.content | safe }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}